// Custom styles.
.post {
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 25px;
  -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
  -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
}

.posts-expand .post-body .emoji {
  margin: auto;
  padding: 0px;
  border: 0px;
  height: 1.3em;
  display:inline-block;
}